<appSettings>
  <add key="FacebookAppId" value="658671784463947" />
  <add key="FacebookAppSecret" value="0cc5e130334cca2dad3bc9c7be5ec90b" />  
  <add key="GoogleClientId" value="594717483859-uods09se1j1tn45e680evle0dc8uo6ol.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="qgZGPCbBAeksemBvOE3KGBY3" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>