@model video_rental_store.ViewModel.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@foreach (var customer in @Model.Customers)
{
    <h3>@customer</h3>
}

